.navbar-default {
    background-color: #518ac4;
    border-color: #2e6aa7;
}
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #2e6aa7;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #2e6aa7;
}
.navbar-default .navbar-toggle {
    border-color: #2e6aa7;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #2e6aa7;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #2e6aa7;
    }
}

.nav.nav-center {
    margin:0;
    float:none;
    display: inline-block;
 }

.navbar-inner{
    text-align:center;
}

#now {
    color: white;
    font-family: 'Helvetica Neue';
    font-weight: 100;
    text-align: center;
    font-size: 28px;
}

.main {
    background: none;
    margin-top: 30px;
}

#ycalendar {
    max-width: 1300px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: block;
    overflow: hidden;
}

.btn-twodigits {
    width: 36px;
    height: 30px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    margin: 3px;
}

.main-content {
    margin-top: 0px;
}

.slice_block div {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 4px 4px 0px 0px;
}

.table.slice_items td {
    border-top: 0px;
}

.slice_content {
    color: #333333;
    padding-left: 5px;
    font-size: 16px;
}

.slice_time {
    font-family: "Consolas";
    color: #999999;
    padding-left: 5px;
}

.table.slice_items td {
    padding: 4px;
    padding-left: 10px;
}

.table td.typeline {
    padding: 0px;
    width: 8px;
}

.slice_reading {
    background-color: #fb8b76;
}
.slice_work {
    background-color: #444444;
}
.slice_fun {
    background-color: #79d550;
}
.slice_gym {
    background-color: #e5dd42;
}
.slice_other {
    background-color: #aaaaaa;
}
