body, .normaltext {
	font-size: 12px;
	text-decoration: none;
	font-family:Helvetica;
    margin: 0px;
}

table, div {
    margin-left: auto;
    margin-right: auto;
}

table td {
    text-align: left;
}

#topBar {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: block;
    background-color: #518ac4;
    opacity: 0.95;
    color: white;
    border-bottom: 1px solid #284d99;
    z-index: 10;
}

#divNow {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Helvetica Neue';
    padding-top: 8px;
    font-size: 28px;
    font-weight: 100;
    color: white;
    text-align: center;
}

#topBar a:link, #topBar a:visited {
    text-decoration: none;
    color: white;
}

.flatInput {
    border: none;
    border-bottom: 1px solid #5ba0e3;
    background: transparent;
    color: white;
}

input {
    border: 1px solid #d2d2d2;
    background: transparent;
    color: #424242;
}

.addSlice input {
    height: 22px;
    font-size: 15px;
    padding: 3px 2px 2px 2px;
}

#typeBox {
    position: absolute;
    border: 1px solid #d2d2d2;
    text-align: left;
    background-color: rgba(250, 250, 250, 0.81);
}

#typeBox li {
    font-size: 14px;
    list-style-type: none;
    color: #616161;
    cursor: pointer;
    padding: 3px 3px 3px 8px;
}

#typeBox li:hover {
    background-color: orange;
    color: white;
}

#bottomBar {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20px;
    margin-top: -20px;
    background-color: #f0f0f0;
    color: #aaaaaa;
    padding-top: 5px;
    text-align: center;
    border-top: 1px solid #cecece;
}

#padding {
    height: 30px;
}

.nav, input, #typeBox {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav .title {
    text-align: right;
    background-color: #eeeeee;
}

.nav td, .nav a:link, .nav a:visited {
    font-size: 14px;
    text-decoration: none;
    padding: 3px 3px 3px 3px;
    color: #666666;
}

.nav .selected, .nav a:hover, a.selected:link, a.selected:visited {
    color: #ffffff;
    background-color: #fe830a;
}

.errortext {
	font-size: 12px;
	text-decoration: bold;
	font-family:Arial;
	color: #FF6000;
}
.menutext {
	font-size: 14px;
	text-decoration: none;
	font-family:Arial;
	color: black;
}
.titletext {
	font-size: 16px;
	text-decoration: none;
	font-family:Arial;
}

a.titletext:link {
	font-size: 16px;
	color: #000000;
	text-decoration: none;
}
a.titletext:visited {
	font-size: 16px;
	color: #000000;
	text-decoration: none;
}
a.titletext:hover {
	font-size: 16px;
	color: #5694FA;
	text-decoration: none;
}
a.titletext:active {
	font-size: 16px;
	color: #000000;
	text-decoration: none;
}

a:link {
	color: #5694FA;
	text-decoration: none;
}
a:visited {
	color: #5694FA;
	text-decoration: none;
}
a:hover {
	color: #FF0000;
	text-decoration: none;
}
a:active {
	color: #5694FA;
	text-decoration: none;
}
.slice_content {
  color: #333333;
  padding-left: 5px;
}
.slice_time {
  font-family: "Consolas";
  color: #999999;
  padding-left: 5px;
}

.slice_block div {
    display: block;
    float: left;
    width: 8px;
    height: 8px;
    margin: 2px 2px 0px 0px;
}

.slice_photography {
  background-color: #e8ef6e;
}
.slice_study {
  background-color: #fb8b76;
}
.slice_accounting {
  background-color: #a86efe;
}
.slice_manage {
  background-color: #e965fe;
}
.slice_social {
  background-color: #fed280;
}
.slice_discuss {
  background-color: #c0ff5c;
}
.slice_tech {
  background-color: #a65efe;
}
.slice_cook {
    background-color: #fe595b;
}
.slice_work {
  background-color: #444444;
}
.slice_academic {
  background-color: #fe7ccf;
}
.slice_fun {
  background-color: #79d550;
}
.slice_code {
    background-color: #6455fe;
}
.slice_music {
    background-color: #e9fe59;
}
.slice_design {
  background-color: #feb555;
}
.slice_sport {
  background-color: #e5dd42;
}
.slice_other {
  background-color: #aaaaaa;
}

